{{view Todos.CreateTodoView id="new-todo" placeholder="What needs to be done?"}}

<div id="stats" class="sc-view">
    <button {{action "onClearCompletedTodosClick"}} class="sc-button">Clear Completed Todos</button>
    {{Todos.todosController.remaining}} remaining
</div>

<label>
    {{view Ember.Checkbox class="mark-all-done" disabledBinding="Todos.todosController.isEmpty" checkedBinding="Todos.todosController.allAreDone"}}
    Mark All as Done
</label>

<ul>
    {{#each Todos.todosController}}
    <li {{bindAttr class="isDone"}}>
        <label>
            {{view Ember.Checkbox checkedBinding="isDone"}}
            {{title}}
        </label>
    </li>
    {{/each}}
</ul>